<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.store.dao.ICategoryDAO">
    <select id="getEntityById" resultMap="categoryResultMap">
        SELECT category_id, name, description
        FROM category
        WHERE category_id = #{id}
    </select>

    <resultMap id="categoryResultMap" type="com.solvd.store.models.Category" autoMapping="true">

    </resultMap>
    <delete id="delete">
        DELETE
        FROM category
        WHERE category_id = #{category_id}
    </delete>
    <insert id="create" useGeneratedKeys="true" keyColumn="category_id" keyProperty="category_id">
        INSERT INTO category(name, description)
        VALUES (#{name}, #{description})
    </insert>
    <update id="update">
        UPDATE category
        SET name        = #{name},
            description = #{description}
        WHERE category_id = #{category_id}
    </update>

</mapper>