<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.store.dao.IOrder_itemDAO">
    <select id="getEntityById" resultMap="order_itemResultMap">
        SELECT order_id, product_id, quantity
        FROM order_item
        WHERE order_item_id = #{id}
          AND product_id = #{id2}
    </select>

    <resultMap id="order_itemResultMap" type="com.solvd.store.models.Order_item" autoMapping="true">

    </resultMap>
    <delete id="delete">
        DELETE
        FROM order_item
        WHERE order_item_id = #{order_item_id}
    </delete>
    <insert id="create" useGeneratedKeys="true" keyColumn="order_item_id" keyProperty="order_item_id">
        INSERT INTO order_item(order_id, product_id, quantity)
        VALUES (#{order_id}, #{product_id}, #{quantity})
    </insert>
    <update id="update">
        UPDATE order_item
        SET name        = #{name},
            description = #{description}
        WHERE order_item_id = #{order_item_id}
    </update>

    <select id="getAllEntitiesByOrderId" resultMap="order_itemResultMap" >
        SELECT order_id, product_id, quantity
        FROM order_item
        WHERE order_item_id = #{id}
    </select>

</mapper>